*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  .main_container{

    background: #7d2ae8;
    /* padding: 0px 0px; */
    /* height: 100vh; */
  
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color:aliceblue;
    width: 100%;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 1;

}
.logo img {
    height: 50px; 
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; 
}
.nav-links li {
    margin: 10px;
}
.nav-links a {
    text-decoration: none;
    color: #7d2ae8;
    font-weight: bold;
}
.nav-links a:hover {
    text-decoration: underline;
}
.admin_logo {
font-size: 17px;
color: #7d2ae8;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
}
.menu_icon{
    display: none;
}
.hero_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    background: url('./hero_ssection.jpg') no-repeat center center/cover;
    position: relative;
    text-align: center;
    color: #fff;
    /* border: 1px solid red; */
    margin: 30px;
    
}
.hero_section h1 {
    font-size: 4em; 
    margin-bottom: 15px;
}
.hero_section p {
    font-size: 1.25em;
    margin-bottom: 20px;
}
.contact_form{
    /* border: 1px solid  rgb(201, 188, 188); */
    width: 100%; 
    margin: auto;
    padding: 30px;
    display: flex;

}
.img_container{
    width: 50%;
    border: 1px solid aliceblue;
    height: 550px;
}

.img_container img{
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
}
.form_container{

    width: 50%; 
    border: 1px solid aliceblue;

   
}
#heading{
    
    text-align: center;
    color: #7d2ae8;
    background-color: aliceblue;
}
#form{
        
    /* border-radius: 10px; */
    margin: 20PX;
    padding: 20px;
    /* width: 100%; */
    
}
input{
    margin-left: 5PX;
    width: 98%;
    height: 30PX;
    border-radius: 5px;
    border-color: rgb(201, 188, 188);
    padding: 10px;
}
#button{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#btn{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
    color:  #7d2ae8;
    font-weight: bold;
}
#btn:hover{
    cursor: pointer;
    /* background-color: #3c099b; */

}
#reset_btn{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
    color:  #7d2ae8;
    font-weight: bold;
}
#reset_btn:hover{
    cursor: pointer;
    /* background-color: #2c0579; */
     
}

#city{
    width: 99%;
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
    border-color: rgb(201, 188, 188);
    
}
#state{
    width: 99%;
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
    border-color: rgb(201, 188, 188);
}

label{
    font-weight: bolder;
    size: 20px;
}
#address{
    width: 99%;
    height: 70px;
    border-radius: 5px;
    margin-left: 5px;
    border-color: rgb(201, 188, 188);
}


@media screen and (min-width:200px) and (max-width:1280px){
    
    .menu_icon{
        display: flex;
        font-size: 35px;
        color: #7d2ae8;
    }
    .nav-links {
        display: none;
        
    }
    .admin_logo {
        font-size: 25px;
        color: #7d2ae8;
  }
  .contact_form{
    display: flex;
    flex-direction: column-reverse;

}
.form_container{
    border-top: none; 
    width: 100%; 
}
.img_container{
    width: 100%;
    height: 500px;
    border-bottom: none;
    
}
}